# application container
APP_PORT=8000
APP_CONTAINER_PORT=8000
APP_CONTAINER_PATH=/opt/todolist

# database
DB_USER=todolist
DB_PASSWORD=change-me-before-deploy
DB_NAME=todolist
DB_HOST=localhost
DB_PORT=5432
DB_CONTAINER_PORT=5432

# database connection pool
DB_ECHO=false
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=5
DB_POOL_TIMEOUT=30.0
DB_POOL_PRE_PING=true
DB_POOL_RECYCLE=3600
